// Fonts
$font_secondary: 'Roboto', sans-serif;
$font_accent: 'Playfair Display', serif;
$font_main: 'Raleway', sans-serif;

// Colors
$dark: #05203b;
$font: #fcecd3;
$light: #fcecd3;
$accent: #fcdd82;
$accent2: #82dbfc;
$dark_accent2: #3b60a4;
$white: #fff;
$footer_bg: #2D343C;
$placeholder: #c4b8da;
$privacy: #E7E7E7;
$form: #063958;
$form_link: #03132c;

$logout: #ffa0a0;

// Media
$tablet: 959px;